@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centerHorizontally {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

@mixin centerVertically {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

#timer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #pomodoro-options-container {
        @include centerHorizontally();
        top: 10%;
        button {
            font-weight: 200;
        }
    }
    
    #time-control-container {
        @include centerHorizontally();
        bottom: 10%;

        button {
            font-weight: 600;
        }

        #restart-button {
            background: linear-gradient(135deg, #1D1B2C, #8D8B95);
        }
    }

    #pomodoro-options-container, #time-control-container {
        display: flex;
        flex-direction: row;
        gap: 40px;
    } 

    #time-container, #time-conteiner-compleated {
        position: absolute;
        border-radius: 100%;
    }

    #time-container {
        width: 60vh;
        height: 60vh;
        background: conic-gradient(rgba(0, 0, 0, 0.4) 0deg, transparent calc(0deg + 0.5deg) 100%);
    }

    #time-conteiner-compleated {
        width: 60vh;
        height: 60vh;
    }

    #time {
        @include center;
        font-size: 4rem;
        z-index: 2;
        font-family: 'Play', sans-serif;
    }

    button {
        user-select: none;
        cursor: pointer;
        font-size: 1rem;
        min-width: 6rem;
        padding: 8px 20px 8px 20px;
        background: linear-gradient(135deg, $primaryColor, $secondaryColor);
        border: 0;
        border-radius: 10px;
        color: white;
    }
}

#top-right {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .icon {
        fill: red;
        width: 30px;
    }
}

.full-screen {
    #timer {
        #time {
            font-size: 6rem;
            margin-top: -20px;
        }

        #time-container {
            width: 80vh;
            height: 80vh;
        }

        #time-conteiner-compleated {
            width: 80vh;
            height: 80vh;
        }
    }

    #time-control-container-expanded {
        @include centerHorizontally();
        bottom: 30%;
        display: flex;
        flex-direction: row;
        gap: 40px;

        button {
            font-weight: 600;
        }

        #restart-button {
            background: linear-gradient(135deg, #1D1B2C, #8D8B95);
        }
    }
}