@import 'variables';

#timer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #pomodoro-options-container {
        margin-bottom: 45%;
    }

    #pomodoro-options-container, #time-control-container {
        display: flex;
        flex-direction: row;
        gap: 40px;
    } 

    #time-container, #time-conteiner-compleated {
        position: absolute;
        border-radius: 100%;
    }

    #time-container {
        width: 32vw;
        height: 32vw;
        border: double 1px transparent;
        border-radius: 100%;
        background-image: linear-gradient(135deg, #241641, #191D21), radial-gradient(circle at top left, $primaryColor, $secondaryColor);
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }

    #time-conteiner-compleated {
        width: 32vw;
        height: 32vw;
        border: double 7px transparent;
        
        background-image: linear-gradient(135deg, #241641, #191D21), radial-gradient(circle at top left, $primaryColor, $secondaryColor);
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }

    #time {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        z-index: 2;
    }

    button {
        font-size: 1rem;
        min-width: 6rem;
        padding: 8px;
        background: linear-gradient(135deg, $primaryColor, $secondaryColor);
        border: 0;
        border-radius: 10px;
        color: white;
    }
}